.root {
  display: flex;
  flex-direction: column;
  width: 300px;
  font-size: 1.3rem;
  padding: 15px 15px;
  .label {
    margin-bottom: 10px;
    color: rgb(133, 129, 129);
    font-weight: 700;
    display: flex;
  }

  .input {
    height: 40px;
    color: rgb(87, 82, 82);
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.286);
    padding: 0 10px;
    &:focus {
      border: 1px solid rgb(161, 25, 165);
      background-color: rgb(255, 253, 253);
    }
  }

  
  .error {
    color: rgb(243, 70, 70);
    padding: 5px 0;
  }
}
