@use '@/app/styles/common/extends';

.root {
  @extend %display-flex-alin-center;
  justify-content: space-between;
  padding: 15px 0;
  color: white;
  width: 60%;
  margin: 0 auto;
  position: relative;
  font-weight: 600;
  @media (max-width: 1300px) {
    width: 70%;
  }
  @media (max-width: 1200px) {
    width: 80%;
  }
  @media (max-width: 1100px) {
    width: 90%;
  }
  @media (max-width: 750px) {
    width: 95%;
  }

  .link_list {
    display: flex;
  }
}