.root {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.193);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;

  .footer_card {
    margin-bottom: 15px;
    .header_btn {
      width: 100%;
    }
  }

  .player__list {
    display: flex;
    justify-content: space-around;

    .player_item {
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    .player__name {
      margin-top: 10px;
      width: 70px;
      height: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

}

.active {
  background-color: rgb(195, 242, 191);
}