@use '@/app/styles/common/extends';

.root {
  width: 100%;
  display: flex;
  position: relative;

  .aside {
    min-width: 30%;
    background-color: white;
    @media (max-width: 1300px) {
      min-width: 40%;
    }
  }
  
  .body {
    @extend %display-flex-direct-column;
    width: 70%;
    @media (max-width: 1300px) {
      min-width: 60%;
    }
  }

  .content {
    background-image: url("https://res.cloudinary.com/ds289tkqj/image/upload/v1684147865/Hits/fon-whatApp_rntvi8.png");
    @extend %display-flex-direct-column;
    height: 100%;
    position: relative;
  }
}