@use '@/app/styles/common/var';
@use '@/app/styles/common/extends';

.root {
  position: absolute;
  padding: var.$spasing-big-medium;
  display: flex;
  justify-content: space-around;
  @media (max-width: 800px) {
    padding: var.$spasing-normal;
  }
  @media (max-height: 800px) {
    padding: var.$spasing-normal;
  }
  .left_side {
    width: 60%;
    @extend %display-flex-direct-column; 
    justify-content: space-between;
  }
}
