.root {
  position: absolute;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  .left_side {
    flex: .9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width: 1300px) {
      flex: .7;
    }
    @media (min-width: 1400px) {
      flex: .6;
    }
  }
}
