@use "@/app/styles/common/var";
@use '@/app/styles/common/extends';

.root {
  text-align: center;
  @extend %display-flex-direct-column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .player {
    background-color: rgb(249, 247, 247);
    border-radius: 10px;
    box-shadow: var.$box-shadow;
    padding: 15px;
    @extend %display-flex-direct-column;
    margin-bottom: 10px;
    width: 50%;

    .winner {
      font-size: 2svh;
      color: var.$color-text-light-gray;
      font-weight: 700;
    }
  }
}
