@use '@/app/styles/common/var';

@mixin user-img($width, $height) {
  width: $width;
  height: $height;
  border-radius: var.$border-radius-circle;
}

.user_img {
  cursor: pointer;
}

.user_img__sm {
  @include user-img(50px, 50px);
}
.user_img__md {
  @include user-img(75px, 75px);
}
.user_img__vsm {
  @include user-img(30px, 30px);
}
.user_img__lg {
  @include user-img(100%, 100%);
  border-radius: 15px;
}