@use "@/app/styles/common/var";
@use '@/app/styles/common/extends';

.players_list {
  @extend %display-flex-alin-center;
  padding: var.$spasing-normal;
  .player {
    @extend %display-flex-direct-column;
    text-align: center;
    flex: 1;
  }
  .player_name {
    font-size: var.$font-size-normal;
    padding-top: var.$spasing-small;
    font-weight: 700;
  }

  .color_red {
    color: var.$player-color-text-red;
  }
  .color_green {
    color: var.$player-color-text-green;
  }
  .color_pink {
    color: var.$player-color-text-pink;
  }
  .color_blue {
    color: var.$player-color-text-blue;
  }
  .color_black {
    color: var.$player-color-text-black;
  }
  .color_yellow {
    color: var.$player-color-text-yellow;
  }
}
