.root {
width: 100%;
background-color: white;
padding: 15px;
border-radius: 15px;

.title_container {
  display: flex;
  align-items: center;
  padding: 15px 0;
  font-size: 1.6rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.131);
  margin-bottom: 15px;

  .title {
    font-weight: 600;
    margin: 0;
    margin-right: 15px;
  }

  .count {
    color: rgb(151, 151, 151);
  }
}
}