.root {
  padding: 10px 45px;
  max-height: 765px;
  flex: 1 0 auto;
  overflow: scroll;
  display: flex;
  flex-direction: column-reverse;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  
  
  
  @media (max-width: 800px) {
    padding: 10px 5px;
  }

  @media (max-width: 1100px) {
    padding: 10px 15px;
  }
  @media (max-width: 1400px) {
    padding: 10px 25px;
  }
}