$color-text-light-gray: #5c5c5c;

$player-color-text-red: #ff1818;
$player-color-text-green: #52b514;
$player-color-text-pink: #fc7188;
$player-color-text-blue: #7b7bfa;
$player-color-text-black: #000000b4;
$player-color-text-yellow: #aea202;
