@use '@/app/styles/common/var';
@use '@/app/styles/common/extends';

.user_info__container {
  flex: 6;
  @extend %display-flex-direct-column;

  .input_field {
    border: none;
    box-shadow: none;
    font-size: var.$font-size-button;
    color: var.$color-text-light-gray;
    font-weight: 600;
    border-radius: 0px;
    margin-bottom: 15px;
  }

  .info_field {
    padding: 10px 0;
    font-size: var.$font-size-button;
    color: var.$color-text-light-gray;
    .info_label {
      color: var.$color-text-light-gray;
      margin-right: 15px;
    }
  }
}