@use '@/app/styles/common/var';

.textarea {
  background: #ffffff;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #ededed;
  font-size: var.$font-size-normal;
  line-height: 1.5;
  padding: 8px 15px;
  resize: none;
  transition: border-color 150ms ease;
  width: 86%;
  color: var.$color-text-light-gray;
  border-radius: 10px;

  &::-webkit-scrollbar {
    width: 0;
  }

  &:hover {
    border-color: #c6c6c6;
  }
  &:focus {
    outline: none;
    border-color: #c6c6c6;
  }
  &::placeholder {
    color: #908c8c;
  }
}