@use '@/app/styles/common/var';
@use '@/app/styles/common/extends';

.viewer_header__nav {
  @extend %display-flex-alin-center; 
}

.logIn_btn {
  position: absolute;
  top: var.$spasing-big-medium;
  right: 0;
  padding: 5px 15px;
  border-radius: 6px;
  font-size: 1.2rem;
  color: white;
  border: 1px solid rgb(172, 172, 172);
  background-color: rgb(18, 102, 147);
  &:hover {
    background-color: rgb(29, 123, 173);
  }
}

.viewer_out__btn {
  margin-left: 15px;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}