.player_list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  position: relative;

  .player_img {
    margin: 0 10px;
    .img_container {
      position: relative;

      .player_active {
        // background-color: green;
        width: 30px;
        height: 5px;
        border-radius: 20px;
        rotate: (-45deg);
        position: absolute;
        top: 28px;
        left: 18px;

        &::before {
          content: "";
          position: absolute;
          top: -5px;
          left: -7px;
          border-radius: 20px;
          rotate: (90deg);
          width: 15px;
          height: 5px;
          background-color: inherit;
        }
      }
    }
  }
}

.red {
  background-color: rgb(202, 1, 1);
}
.blue {
  background-color: rgb(2, 134, 190);
}
.green {
  background-color: rgb(61, 171, 1);
}
.yellow {
  background-color: rgb(189, 167, 2);
}
.pink {
  background-color: rgb(199, 0, 163);
}
.black {
  background-color: rgb(100, 100, 100);
}
