.root {
  display: flex;
  padding: 5px 0px;
  // align-items: center;
  // justify-content: space-around;
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  flex: 3;
  min-height: 40px;
  @media (max-width: 1300px) {
    flex: 4;
  }
  
}
