%field {
  display: flex;
  padding: 5px 20px;
  background-image: linear-gradient(to top, (rgb(88, 86, 86), rgb(60, 78, 50)));
  color: white;
  font-size: 1.3rem;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 3px 3px 5px 2px white;
  font-weight: 600;
  text-shadow: 1px 1px 4px black;
  @media (max-height: 800px) {
    font-size: 1rem;
    padding: 2px 20px;
  }
}

.root {
  padding: 10px;
  border-radius: 5px;
  background-image: linear-gradient(
    to left,
    (rgb(217, 212, 212), rgb(255, 255, 255))
  );
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.47);
  height: 15%;

  .picture {
    padding: 3px;
    border: 1px solid rgba(255, 255, 255, 0.221);
    border-radius: 10px;
    box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.823);
    background-image: linear-gradient(
      to left,
      (rgb(163, 161, 161), rgb(255, 255, 255))
    );
    margin-right: 10px;
  }

  .info_container {
    .name {
      @extend %field;
    }
    .price_container {
      display: flex;
      .money {
        @extend %field;
        flex: 1;
        position: relative;
        &::before {
          content: "$";
          position: absolute;
          left: 7px;
          color: rgb(255, 225, 0);
        }
      }
      .total {
        @extend %field;
        flex: 1;
        position: relative;
        &::before {
          content: "#";
          position: absolute;
          left: 5px;
          color: rgb(255, 225, 0);
        }
      }
    }
  }
  .process_container {
    margin-top: 4px;
    @media (max-height: 650px) {
      margin-top: 0px;
    }
  }
}
