@use '@/app/styles/common/var';

%field {
  display: flex;
  padding: 3px 10px;
  padding-left: var.$spasing-big-medium;
  background-image: linear-gradient(to top, (rgb(88, 86, 86), rgb(60, 78, 50)));
  color: white;
  font-size: 1.7lvh;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 3px 3px 5px 2px white;
  font-weight: 600;
  text-shadow: 1px 1px 4px black;
  @media (max-height: 640px) {
    font-size: 1.5lvh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 10px;
  }
}

.root {
  padding: var.$spasing-normal;
  padding-bottom: 13px;
  padding-top: 3px;
  border-radius: 5px;
  background-color: rgb(230, 230, 230);
  margin-bottom: 5px;
  display: flex;
  justify-content: space-around;
  box-shadow: var.$box-shadow;
  height: 15%;
  position: relative;
  .picture {
    padding: 3px;
    border: 1px solid rgba(255, 255, 255, 0.221);
    border-radius: 10px;
    box-shadow: var.$box-shadow;
    background-image: linear-gradient(
      to left,
      (rgb(163, 161, 161), rgb(255, 255, 255))
    );
    margin-right: 10px;
    width: 35%;
    @media (max-height: 550px) {
      display: none;
    }
  }

  .info_container {
    width: 50%;

    @media (max-height: 550px) {
      display: flex;
      justify-content: center;
    }

    .name {
      @extend %field;
      padding-left: 10px;
    }

    .money {
      @extend %field;
      position: relative;
      &::before {
        content: "$";
        position: absolute;
        left: 7px;
        color: rgb(255, 225, 0);
      }
    }

    .total {
      @extend %field;
      position: relative;
      &::before {
        content: "#";
        position: absolute;
        left: 5px;
        color: rgb(255, 225, 0);
      }
    }
  }
  .process_container {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
  }
}


.red {
  background-image: linear-gradient(to right, (var.$player-color-text-red, rgba(35, 32, 32, 0), rgba(35, 32, 32, 0)));
}
.green {
  background-image: linear-gradient(to right, (var.$player-color-text-green, rgba(35, 32, 32, 0), rgba(35, 32, 32, 0)));
}
.pink {
  background-image: linear-gradient(to right, (var.$player-color-text-pink, rgba(35, 32, 32, 0), rgba(35, 32, 32, 0)));
}
.blue {
  background-image: linear-gradient(to right, (var.$player-color-text-blue, rgba(35, 32, 32, 0), rgba(35, 32, 32, 0)));
}
.black {
  background-image: linear-gradient(to right, (var.$player-color-text-black, rgba(35, 32, 32, 0), rgba(35, 32, 32, 0)));
}
.yellow {
  background-image: linear-gradient(to right, (var.$player-color-text-yellow, rgba(35, 32, 32, 0), rgba(35, 32, 32, 0)));
}